In [ ]:
import pandas as pd
import numpy as np
import random
pd.set_option('display.max_columns', None)
from google.colab import drive

In [ ]:
url='https://raw.githubusercontent.com/bibi643/atp_MLOPS/main/atp_data.csv'
df = pd.read_csv(url)
df

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,63,77,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
1,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Kiefer N.,Tarango J.,6,59,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
2,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Gaudio G.,Luxa P.,73,174,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
3,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,El Aynaoui Y.,Dupuis A.,33,78,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
4,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Cherkasov A.,Arazi H.,206,35,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44703,17,Dubai,Dubai Tennis Championships,2018-03-03,ATP500,Outdoor,Hard,The Final,3,Bautista Agut R.,Pouille L.,23,15,2.0,0.0,Completed,1.65,2.43,1.66,2.20,1835.901543,1842.459807,0.490563
44704,16,Acapulco,Abierto Mexicano,2018-03-03,ATP500,Outdoor,Hard,Semifinals,3,Anderson K.,Donaldson J.,8,59,2.0,1.0,Completed,1.34,3.63,1.30,3.50,1843.576914,1647.967561,0.755103
44705,18,Sao Paulo,Brasil Open,2018-03-03,ATP250,Indoor,Clay,Semifinals,3,Jarry N.,Zeballos H.,73,69,2.0,1.0,Completed,1.85,2.09,1.90,1.90,1588.293069,1619.758421,0.454841
44706,16,Acapulco,Abierto Mexicano,2018-03-04,ATP500,Outdoor,Hard,The Final,3,Del Potro J.M.,Anderson K.,9,8,2.0,0.0,Completed,1.52,2.75,1.50,2.62,1966.532849,1851.413609,0.659862
44707,18,Sao Paulo,Brasil Open,2018-03-04,ATP250,Indoor,Clay,The Final,3,Fognini F.,Jarry N.,20,73,2.0,1.0,Completed,1.38,3.38,1.36,3.25,1814.065865,1605.738153,0.768388

In [ ]:
df.shape

(44708, 23)

In [ ]:
df['Comment'].unique()

array(['Completed', 'Retired', 'Walkover', 'Disqualified'], dtype=object)

In [ ]:
df[df['Comment']=='Disqualified']

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo
32399,34,Queens Club,AEGON Championships,2012-06-17,ATP250,Outdoor,Grass,The Final,3,Cilic M.,Nalbandian D.,25,39,0.0,1.0,Disqualified,1.74,2.26,1.8,2.0,1850.290983,1830.039367,0.529111

In [ ]:
df.info()

#pourquoi certaines proba ne sont pas presentes?
# win sets et loss ne correspondes pas du fait des WO
# on peut drop les NA je pense

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44708 entries, 0 to 44707
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         44708 non-null  int64
 1   Location    44708 non-null  object
 2   Tournament  44708 non-null  object
 3   Date        44708 non-null  object
 4   Series      44708 non-null  object
 5   Court       44708 non-null  object
 6   Surface     44708 non-null  object
 7   Round       44708 non-null  object
 8   Best of     44708 non-null  int64
 9   Winner      44708 non-null  object
 10  Loser       44708 non-null  object
 11  WRank       44708 non-null  int64
 12  LRank       44708 non-null  int64
 13  Wsets       44521 non-null  float64
 14  Lsets       44521 non-null  float64
 15  Comment     44708 non-null  object
 16  PSW         32743 non-null  float64
 17  PSL         32743 non-null  float64
 18  B365W       39037 non-null  float64
 19  B365L       39057 non-null  float64
 20  elo_winner  44708 non-null  float64
 21  elo_loser   44708 non-null  float64
 22  proba_elo   44708 non-null  float64
dtypes: float64(9), int64(4), object(10)
memory usage: 7.8+ MB

In [ ]:
df[df['Comment']=='Walkover']

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo
437,10,Memphis,Kroger St. Jude,2000-02-14,International Gold,Indoor,Hard,3rd Round,3,Larsson M.,Philippoussis M.,78,16,0.0,0.0,Walkover,NaN,NaN,NaN,NaN,1557.183805,1599.829931,0.438934
623,18,Scottsdale,Franklin Templeton Tennis Classic,2000-03-06,International,Outdoor,Hard,2nd Round,3,Corretja A.,Sampras P.,32,2,0.0,0.0,Walkover,NaN,NaN,NaN,NaN,1552.221900,1576.118735,0.465664
765,20,Miami,Ericsson Open,2000-03-23,Masters,Outdoor,Hard,4th Round,3,Lapentti N.,Enqvist T.,9,7,0.0,0.0,Walkover,NaN,NaN,NaN,NaN,1586.577274,1617.537961,0.455562
1151,29,Rome,Rome TMS,2000-05-08,Masters,Outdoor,Clay,3rd Round,3,Kuerten G.,El Aynaoui Y.,6,16,0.0,0.0,Walkover,NaN,NaN,NaN,NaN,1603.273670,1586.855978,0.523609
1881,46,San Marino,Tennis Int'l of San Marino,2000-07-24,International,Outdoor,Clay,Semifinals,3,Calatrava A.,Medvedev A.,115,46,0.0,0.0,Walkover,NaN,NaN,NaN,NaN,1525.387034,1572.529496,0.432570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42579,29,Madrid,Mutua Madrid Open,2017-05-12,Masters 1000,Outdoor,Clay,Quarterfinals,3,Djokovic N.,Nishikori K.,2,8,NaN,NaN,Walkover,1.47,2.94,1.44,2.75,2195.073671,1943.626000,0.809606
43707,55,St. Petersburg,St. Petersburg Open,2017-09-21,ATP250,Indoor,Hard,2nd Round,3,Berankis R.,Kohlschreiber P.,177,34,NaN,NaN,Walkover,4.37,1.26,4.33,1.20,1503.240372,1813.309261,0.143699
44079,66,Paris,BNP Paribas Masters,2017-11-03,Masters 1000,Indoor,Hard,Quarterfinals,3,Krajinovic F.,Nadal R.,77,1,NaN,NaN,Walkover,8.91,1.10,9.00,1.07,1520.886720,2146.616534,0.026546
44170,2,Doha,Qatar Exxon Mobil Open,2018-01-05,ATP250,Outdoor,Hard,Semifinals,3,Monfils G.,Thiem D.,46,5,NaN,NaN,Walkover,2.60,1.57,2.62,1.50,1818.811423,1804.480779,0.520612
44516,12,Rotterdam,ABN AMRO World Tennis Tournament,2018-02-16,ATP500,Indoor,Hard,Quarterfinals,3,Goffin D.,Berdych T.,7,17,NaN,NaN,Walkover,1.72,2.27,1.66,2.20,1881.645630,1879.867242,0.502559

In [ ]:
df[df['PSW']=='NaN']

Empty DataFrame
Columns: [ATP, Location, Tournament, Date, Series, Court, Surface, Round, Best of, Winner, Loser, WRank, LRank, Wsets, Lsets, Comment, PSW, PSL, B365W, B365L, elo_winner, elo_loser, proba_elo]
Index: []

In [ ]:
df['Loser']=df.apply(lambda row:(row['Loser'],row['LRank'],row['elo_loser']),axis=1)
df['Winner']=df.apply(lambda row:(row['Winner'],row['WRank'],row['elo_winner']),axis=1)
df
#Here I created des tuples pour les Winner et Loser. avec le nom, le classement et les points ELO

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,"(Dosedel S., 63, 1500.0)","(Ljubicic I., 77, 1500.0)",63,77,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
1,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,"(Kiefer N., 6, 1500.0)","(Tarango J., 59, 1500.0)",6,59,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
2,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,"(Gaudio G., 73, 1500.0)","(Luxa P., 174, 1500.0)",73,174,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
3,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,"(El Aynaoui Y., 33, 1500.0)","(Dupuis A., 78, 1500.0)",33,78,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
4,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,"(Cherkasov A., 206, 1500.0)","(Arazi H., 35, 1500.0)",206,35,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.000000,1500.000000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44703,17,Dubai,Dubai Tennis Championships,2018-03-03,ATP500,Outdoor,Hard,The Final,3,"(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)",23,15,2.0,0.0,Completed,1.65,2.43,1.66,2.20,1835.901543,1842.459807,0.490563
44704,16,Acapulco,Abierto Mexicano,2018-03-03,ATP500,Outdoor,Hard,Semifinals,3,"(Anderson K., 8, 1843.5769143467653)","(Donaldson J., 59, 1647.9675610435968)",8,59,2.0,1.0,Completed,1.34,3.63,1.30,3.50,1843.576914,1647.967561,0.755103
44705,18,Sao Paulo,Brasil Open,2018-03-03,ATP250,Indoor,Clay,Semifinals,3,"(Jarry N., 73, 1588.293069106932)","(Zeballos H., 69, 1619.7584213938064)",73,69,2.0,1.0,Completed,1.85,2.09,1.90,1.90,1588.293069,1619.758421,0.454841
44706,16,Acapulco,Abierto Mexicano,2018-03-04,ATP500,Outdoor,Hard,The Final,3,"(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)",9,8,2.0,0.0,Completed,1.52,2.75,1.50,2.62,1966.532849,1851.413609,0.659862
44707,18,Sao Paulo,Brasil Open,2018-03-04,ATP250,Indoor,Clay,The Final,3,"(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)",20,73,2.0,1.0,Completed,1.38,3.38,1.36,3.25,1814.065865,1605.738153,0.768388

In [ ]:
df_game=df[['Winner','Loser']]
#df_game['Players']= df_game.apply(lambda row:(row['Winner'],row['Loser']),axis=1)


df_game['Player1']=pd.DataFrame(
    df_game.values[range(df_game.shape[0]),
                   np.random.randint(
                       0, df_game.shape[1], size=df_game.shape[0])])

df_game

#Randomisation of Player 1

<ipython-input-24-c8bb9f2c418d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player1']=pd.DataFrame(

,Winner,Loser,Player1
0,"(Dosedel S., 63, 1500.0)","(Ljubicic I., 77, 1500.0)","(Ljubicic I., 77, 1500.0)"
1,"(Kiefer N., 6, 1500.0)","(Tarango J., 59, 1500.0)","(Tarango J., 59, 1500.0)"
2,"(Gaudio G., 73, 1500.0)","(Luxa P., 174, 1500.0)","(Luxa P., 174, 1500.0)"
3,"(El Aynaoui Y., 33, 1500.0)","(Dupuis A., 78, 1500.0)","(Dupuis A., 78, 1500.0)"
4,"(Cherkasov A., 206, 1500.0)","(Arazi H., 35, 1500.0)","(Arazi H., 35, 1500.0)"
...,...,...,...
44703,"(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)","(Bautista Agut R., 23, 1835.9015429629756)"
44704,"(Anderson K., 8, 1843.5769143467653)","(Donaldson J., 59, 1647.9675610435968)","(Donaldson J., 59, 1647.9675610435968)"
44705,"(Jarry N., 73, 1588.293069106932)","(Zeballos H., 69, 1619.7584213938064)","(Zeballos H., 69, 1619.7584213938064)"
44706,"(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)","(Del Potro J.M., 9, 1966.532848740593)"
44707,"(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)","(Fognini F., 20, 1814.065865178177)"

In [ ]:
df_game['Player2']=''
for i in range(len(df_game)):
    if df_game['Player1'][i]== df_game['Winner'][i]:
        df_game['Player2'][i]=df_game['Loser'][i]
    else:
        df_game['Player2'][i]= df_game['Winner'][i]

#player 2 is added.

<ipython-input-25-ddb2ad8b556d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player2']=''
<ipython-input-25-ddb2ad8b556d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player2'][i]= df_game['Winner'][i]
<ipython-input-25-ddb2ad8b556d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player2'][i]=df_game['Loser'][i]

In [ ]:
df_game['WP1']=np.where(df_game['Winner']==df_game['Player1'],1,0)
df_game['WP2']=np.where(df_game['Winner']==df_game['Player2'],1,0)

df_game

#Here we create the column WP1 is 1 if player 1 won. I created WP2 just in case

<ipython-input-26-d72161deaf6b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['WP1']=np.where(df_game['Winner']==df_game['Player1'],1,0)
<ipython-input-26-d72161deaf6b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['WP2']=np.where(df_game['Winner']==df_game['Player2'],1,0)

,Winner,Loser,Player1,Player2,WP1,WP2
0,"(Dosedel S., 63, 1500.0)","(Ljubicic I., 77, 1500.0)","(Ljubicic I., 77, 1500.0)","(Dosedel S., 63, 1500.0)",0,1
1,"(Kiefer N., 6, 1500.0)","(Tarango J., 59, 1500.0)","(Tarango J., 59, 1500.0)","(Kiefer N., 6, 1500.0)",0,1
2,"(Gaudio G., 73, 1500.0)","(Luxa P., 174, 1500.0)","(Luxa P., 174, 1500.0)","(Gaudio G., 73, 1500.0)",0,1
3,"(El Aynaoui Y., 33, 1500.0)","(Dupuis A., 78, 1500.0)","(Dupuis A., 78, 1500.0)","(El Aynaoui Y., 33, 1500.0)",0,1
4,"(Cherkasov A., 206, 1500.0)","(Arazi H., 35, 1500.0)","(Arazi H., 35, 1500.0)","(Cherkasov A., 206, 1500.0)",0,1
...,...,...,...,...,...,...
44703,"(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)","(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)",1,0
44704,"(Anderson K., 8, 1843.5769143467653)","(Donaldson J., 59, 1647.9675610435968)","(Donaldson J., 59, 1647.9675610435968)","(Anderson K., 8, 1843.5769143467653)",0,1
44705,"(Jarry N., 73, 1588.293069106932)","(Zeballos H., 69, 1619.7584213938064)","(Zeballos H., 69, 1619.7584213938064)","(Jarry N., 73, 1588.293069106932)",0,1
44706,"(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)","(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)",1,0
44707,"(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)","(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)",1,0

In [ ]:
df_game['Player1_name']=''
df_game['Player1_rank']=''
df_game['Player1_ELO']=''
df_game['Player2_name']=''
df_game['Player2_rank']=''
df_game['Player2_ELO']=''



for i in range(len(df_game)):
    df_game['Player1_name'][i]=df_game['Player1'][i][0]
    df_game['Player1_rank'][i]=df_game['Player1'][i][1]
    df_game['Player1_ELO'][i]=df_game['Player1'][i][2]
    df_game['Player2_name'][i]=df_game['Player2'][i][0]
    df_game['Player2_rank'][i]=df_game['Player2'][i][1]
    df_game['Player2_ELO'][i]=df_game['Player2'][i][2]

df_game

#I exploded the tuples so I have columns for player 1 name, player 1 rank and player 1 ELO...same for player2

<ipython-input-27-0dbf01dbb0fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player1_name']=''
<ipython-input-27-0dbf01dbb0fe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player1_rank']=''
<ipython-input-27-0dbf01dbb0fe>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player1_ELO']=''
<ipython-input-27-0dbf01dbb0fe>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player2_name']=''
<ipython-input-27-0dbf01dbb0fe>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player2_rank']=''
<ipython-input-27-0dbf01dbb0fe>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player2_ELO']=''
<ipython-input-27-0dbf01dbb0fe>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player1_name'][i]=df_game['Player1'][i][0]
<ipython-input-27-0dbf01dbb0fe>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player1_rank'][i]=df_game['Player1'][i][1]
<ipython-input-27-0dbf01dbb0fe>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player1_ELO'][i]=df_game['Player1'][i][2]
<ipython-input-27-0dbf01dbb0fe>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player2_name'][i]=df_game['Player2'][i][0]
<ipython-input-27-0dbf01dbb0fe>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player2_rank'][i]=df_game['Player2'][i][1]
<ipython-input-27-0dbf01dbb0fe>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['Player2_ELO'][i]=df_game['Player2'][i][2]

,Winner,Loser,Player1,Player2,WP1,WP2,Player1_name,Player1_rank,Player1_ELO,Player2_name,Player2_rank,Player2_ELO
0,"(Dosedel S., 63, 1500.0)","(Ljubicic I., 77, 1500.0)","(Ljubicic I., 77, 1500.0)","(Dosedel S., 63, 1500.0)",0,1,Ljubicic I.,77,1500.0,Dosedel S.,63,1500.0
1,"(Kiefer N., 6, 1500.0)","(Tarango J., 59, 1500.0)","(Tarango J., 59, 1500.0)","(Kiefer N., 6, 1500.0)",0,1,Tarango J.,59,1500.0,Kiefer N.,6,1500.0
2,"(Gaudio G., 73, 1500.0)","(Luxa P., 174, 1500.0)","(Luxa P., 174, 1500.0)","(Gaudio G., 73, 1500.0)",0,1,Luxa P.,174,1500.0,Gaudio G.,73,1500.0
3,"(El Aynaoui Y., 33, 1500.0)","(Dupuis A., 78, 1500.0)","(Dupuis A., 78, 1500.0)","(El Aynaoui Y., 33, 1500.0)",0,1,Dupuis A.,78,1500.0,El Aynaoui Y.,33,1500.0
4,"(Cherkasov A., 206, 1500.0)","(Arazi H., 35, 1500.0)","(Arazi H., 35, 1500.0)","(Cherkasov A., 206, 1500.0)",0,1,Arazi H.,35,1500.0,Cherkasov A.,206,1500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
44703,"(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)","(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)",1,0,Bautista Agut R.,23,1835.901543,Pouille L.,15,1842.459807
44704,"(Anderson K., 8, 1843.5769143467653)","(Donaldson J., 59, 1647.9675610435968)","(Donaldson J., 59, 1647.9675610435968)","(Anderson K., 8, 1843.5769143467653)",0,1,Donaldson J.,59,1647.967561,Anderson K.,8,1843.576914
44705,"(Jarry N., 73, 1588.293069106932)","(Zeballos H., 69, 1619.7584213938064)","(Zeballos H., 69, 1619.7584213938064)","(Jarry N., 73, 1588.293069106932)",0,1,Zeballos H.,69,1619.758421,Jarry N.,73,1588.293069
44706,"(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)","(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)",1,0,Del Potro J.M.,9,1966.532849,Anderson K.,8,1851.413609
44707,"(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)","(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)",1,0,Fognini F.,20,1814.065865,Jarry N.,73,1605.738153

In [ ]:
df_game=df_game.drop(labels=['Winner','Loser'],axis=1)
#I delete those columns. If I dont It would be duplicated on the next DF

In [ ]:
df_concat= pd.concat([df,df_game],axis=1)
df_concat['SetP1']=np.where(df_concat['WP1']==1,df_concat['Wsets'],df_concat['Lsets'])
df_concat['SetP2']=np.where(df_concat['WP2']==1,df_concat['Wsets'],df_concat['Lsets'])

df_concat.info()
#we add sets for each players

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44708 entries, 0 to 44707
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ATP           44708 non-null  int64
 1   Location      44708 non-null  object
 2   Tournament    44708 non-null  object
 3   Date          44708 non-null  object
 4   Series        44708 non-null  object
 5   Court         44708 non-null  object
 6   Surface       44708 non-null  object
 7   Round         44708 non-null  object
 8   Best of       44708 non-null  int64
 9   Winner        44708 non-null  object
 10  Loser         44708 non-null  object
 11  WRank         44708 non-null  int64
 12  LRank         44708 non-null  int64
 13  Wsets         44521 non-null  float64
 14  Lsets         44521 non-null  float64
 15  Comment       44708 non-null  object
 16  PSW           32743 non-null  float64
 17  PSL           32743 non-null  float64
 18  B365W         39037 non-null  float64
 19  B365L         39057 non-null  float64
 20  elo_winner    44708 non-null  float64
 21  elo_loser     44708 non-null  float64
 22  proba_elo     44708 non-null  float64
 23  Player1       44708 non-null  object
 24  Player2       44708 non-null  object
 25  WP1           44708 non-null  int64
 26  WP2           44708 non-null  int64
 27  Player1_name  44708 non-null  object
 28  Player1_rank  44708 non-null  object
 29  Player1_ELO   44708 non-null  object
 30  Player2_name  44708 non-null  object
 31  Player2_rank  44708 non-null  object
 32  Player2_ELO   44708 non-null  object
 33  SetP1         44521 non-null  float64
 34  SetP2         44521 non-null  float64
dtypes: float64(11), int64(6), object(18)
memory usage: 11.9+ MB

In [ ]:
df_clean=df_concat.dropna()

df_clean

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo,Player1,Player2,WP1,WP2,Player1_name,Player1_rank,Player1_ELO,Player2_name,Player2_rank,Player2_ELO,SetP1,SetP2
8678,3,Doha,Qatar Exxon Mobil Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Ulihrach B., 246, 1486.195238994842)","(Kiefer N., 58, 1618.1822100568072)",246,58,2.0,0.0,Completed,2.210,1.719,2.200,1.615,1486.195239,1618.182210,0.318694,"(Ulihrach B., 246, 1486.195238994842)","(Kiefer N., 58, 1618.1822100568072)",1,0,Ulihrach B.,246,1486.195239,Kiefer N.,58,1618.18221,2.0,0.0
8679,3,Doha,Qatar Exxon Mobil Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Youzhny M., 43, 1615.0576483335783)","(Schuettler R., 6, 1820.7594851861656)",43,6,2.0,0.0,Completed,3.250,1.385,2.875,1.364,1615.057648,1820.759485,0.234313,"(Schuettler R., 6, 1820.7594851861656)","(Youzhny M., 43, 1615.0576483335783)",0,1,Schuettler R.,6,1820.759485,Youzhny M.,43,1615.057648,0.0,2.0
8680,3,Doha,Qatar Exxon Mobil Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Sargsian S., 39, 1654.4685507441193)","(Carraz G., 67, 1588.3309842184965)",39,67,2.0,1.0,Completed,1.746,2.180,1.571,2.250,1654.468551,1588.330984,0.594046,"(Sargsian S., 39, 1654.4685507441193)","(Carraz G., 67, 1588.3309842184965)",1,0,Sargsian S.,39,1654.468551,Carraz G.,67,1588.330984,2.0,1.0
8682,2,Chennai,TATA Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Lisnard J.R., 97, 1533.3089610739144)","(Pless K., 440, 1473.2998033293202)",97,440,2.0,0.0,Completed,1.562,2.580,1.571,2.250,1533.308961,1473.299803,0.585511,"(Lisnard J.R., 97, 1533.3089610739144)","(Pless K., 440, 1473.2998033293202)",1,0,Lisnard J.R.,97,1533.308961,Pless K.,440,1473.299803,2.0,0.0
8683,2,Chennai,TATA Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Levy H., 111, 1401.2831254790435)","(Portas A., 85, 1418.6218807440166)",111,85,2.0,0.0,Completed,1.641,2.360,1.570,2.250,1401.283125,1418.621881,0.475068,"(Levy H., 111, 1401.2831254790435)","(Portas A., 85, 1418.6218807440166)",1,0,Levy H.,111,1401.283125,Portas A.,85,1418.621881,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44703,17,Dubai,Dubai Tennis Championships,2018-03-03,ATP500,Outdoor,Hard,The Final,3,"(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)",23,15,2.0,0.0,Completed,1.650,2.430,1.660,2.200,1835.901543,1842.459807,0.490563,"(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)",1,0,Bautista Agut R.,23,1835.901543,Pouille L.,15,1842.459807,2.0,0.0
44704,16,Acapulco,Abierto Mexicano,2018-03-03,ATP500,Outdoor,Hard,Semifinals,3,"(Anderson K., 8, 1843.5769143467653)","(Donaldson J., 59, 1647.9675610435968)",8,59,2.0,1.0,Completed,1.340,3.630,1.300,3.500,1843.576914,1647.967561,0.755103,"(Donaldson J., 59, 1647.9675610435968)","(Anderson K., 8, 1843.5769143467653)",0,1,Donaldson J.,59,1647.967561,Anderson K.,8,1843.576914,1.0,2.0
44705,18,Sao Paulo,Brasil Open,2018-03-03,ATP250,Indoor,Clay,Semifinals,3,"(Jarry N., 73, 1588.293069106932)","(Zeballos H., 69, 1619.7584213938064)",73,69,2.0,1.0,Completed,1.850,2.090,1.900,1.900,1588.293069,1619.758421,0.454841,"(Zeballos H., 69, 1619.7584213938064)","(Jarry N., 73, 1588.293069106932)",0,1,Zeballos H.,69,1619.758421,Jarry N.,73,1588.293069,1.0,2.0
44706,16,Acapulco,Abierto Mexicano,2018-03-04,ATP500,Outdoor,Hard,The Final,3,"(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)",9,8,2.0,0.0,Completed,1.520,2.750,1.500,2.620,1966.532849,1851.413609,0.659862,"(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)",1,0,Del Potro J.M.,9,1966.532849,Anderson K.,8,1851.413609,2.0,0.0
44707,18,Sao Paulo,Brasil Open,2018-03-04,ATP250,Indoor,Clay,The Final,3,"(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)",20,73,2.0,1.0,Completed,1.380,3.380,1.360,3.250,1814.065865,1605.738153,0.768388,"(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)",1,0,Fognini F.,20,1814.065865,Jarry N.,73,1605.738153,2.0,1.0

In [ ]:
#reset the index
df_clean=df_clean.reset_index()
df_clean=df_clean.drop(labels='index',axis=1)
df_clean

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo,Player1,Player2,WP1,WP2,Player1_name,Player1_rank,Player1_ELO,Player2_name,Player2_rank,Player2_ELO,SetP1,SetP2
0,3,Doha,Qatar Exxon Mobil Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Ulihrach B., 246, 1486.195238994842)","(Kiefer N., 58, 1618.1822100568072)",246,58,2.0,0.0,Completed,2.210,1.719,2.200,1.615,1486.195239,1618.182210,0.318694,"(Ulihrach B., 246, 1486.195238994842)","(Kiefer N., 58, 1618.1822100568072)",1,0,Ulihrach B.,246,1486.195239,Kiefer N.,58,1618.18221,2.0,0.0
1,3,Doha,Qatar Exxon Mobil Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Youzhny M., 43, 1615.0576483335783)","(Schuettler R., 6, 1820.7594851861656)",43,6,2.0,0.0,Completed,3.250,1.385,2.875,1.364,1615.057648,1820.759485,0.234313,"(Schuettler R., 6, 1820.7594851861656)","(Youzhny M., 43, 1615.0576483335783)",0,1,Schuettler R.,6,1820.759485,Youzhny M.,43,1615.057648,0.0,2.0
2,3,Doha,Qatar Exxon Mobil Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Sargsian S., 39, 1654.4685507441193)","(Carraz G., 67, 1588.3309842184965)",39,67,2.0,1.0,Completed,1.746,2.180,1.571,2.250,1654.468551,1588.330984,0.594046,"(Sargsian S., 39, 1654.4685507441193)","(Carraz G., 67, 1588.3309842184965)",1,0,Sargsian S.,39,1654.468551,Carraz G.,67,1588.330984,2.0,1.0
3,2,Chennai,TATA Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Lisnard J.R., 97, 1533.3089610739144)","(Pless K., 440, 1473.2998033293202)",97,440,2.0,0.0,Completed,1.562,2.580,1.571,2.250,1533.308961,1473.299803,0.585511,"(Lisnard J.R., 97, 1533.3089610739144)","(Pless K., 440, 1473.2998033293202)",1,0,Lisnard J.R.,97,1533.308961,Pless K.,440,1473.299803,2.0,0.0
4,2,Chennai,TATA Open,2004-01-05,International,Outdoor,Hard,1st Round,3,"(Levy H., 111, 1401.2831254790435)","(Portas A., 85, 1418.6218807440166)",111,85,2.0,0.0,Completed,1.641,2.360,1.570,2.250,1401.283125,1418.621881,0.475068,"(Levy H., 111, 1401.2831254790435)","(Portas A., 85, 1418.6218807440166)",1,0,Levy H.,111,1401.283125,Portas A.,85,1418.621881,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32186,17,Dubai,Dubai Tennis Championships,2018-03-03,ATP500,Outdoor,Hard,The Final,3,"(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)",23,15,2.0,0.0,Completed,1.650,2.430,1.660,2.200,1835.901543,1842.459807,0.490563,"(Bautista Agut R., 23, 1835.9015429629756)","(Pouille L., 15, 1842.4598065432087)",1,0,Bautista Agut R.,23,1835.901543,Pouille L.,15,1842.459807,2.0,0.0
32187,16,Acapulco,Abierto Mexicano,2018-03-03,ATP500,Outdoor,Hard,Semifinals,3,"(Anderson K., 8, 1843.5769143467653)","(Donaldson J., 59, 1647.9675610435968)",8,59,2.0,1.0,Completed,1.340,3.630,1.300,3.500,1843.576914,1647.967561,0.755103,"(Donaldson J., 59, 1647.9675610435968)","(Anderson K., 8, 1843.5769143467653)",0,1,Donaldson J.,59,1647.967561,Anderson K.,8,1843.576914,1.0,2.0
32188,18,Sao Paulo,Brasil Open,2018-03-03,ATP250,Indoor,Clay,Semifinals,3,"(Jarry N., 73, 1588.293069106932)","(Zeballos H., 69, 1619.7584213938064)",73,69,2.0,1.0,Completed,1.850,2.090,1.900,1.900,1588.293069,1619.758421,0.454841,"(Zeballos H., 69, 1619.7584213938064)","(Jarry N., 73, 1588.293069106932)",0,1,Zeballos H.,69,1619.758421,Jarry N.,73,1588.293069,1.0,2.0
32189,16,Acapulco,Abierto Mexicano,2018-03-04,ATP500,Outdoor,Hard,The Final,3,"(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)",9,8,2.0,0.0,Completed,1.520,2.750,1.500,2.620,1966.532849,1851.413609,0.659862,"(Del Potro J.M., 9, 1966.532848740593)","(Anderson K., 8, 1851.4136094550156)",1,0,Del Potro J.M.,9,1966.532849,Anderson K.,8,1851.413609,2.0,0.0
32190,18,Sao Paulo,Brasil Open,2018-03-04,ATP250,Indoor,Clay,The Final,3,"(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)",20,73,2.0,1.0,Completed,1.380,3.380,1.360,3.250,1814.065865,1605.738153,0.768388,"(Fognini F., 20, 1814.065865178177)","(Jarry N., 73, 1605.738153456154)",1,0,Fognini F.,20,1814.065865,Jarry N.,73,1605.738153,2.0,1.0

In [ ]:
drive.mount('/drive')

Mounted at /drive

In [ ]:
#I will save this df to a new one so everybody can work on a different google collab


#df_clean.to_csv('/drive/My Drive/folder_name/name_csv_file.csv')
df_clean.to_csv('/drive/My Drive/df_ATP_clean.csv')
#change the path for your personal one